{% extends 'base.html.twig' %}
{% block body %}
    {% include 'elements/nav.html.twig' %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% block content %}{% endblock %}
{% endblock %}